# Environment & Secrets
.env
*.local

# Node / Frontend
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Go / Backend
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
backend/bin/

# OS & Editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
